<!DOCTYPE html>
<html>
<head>
<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <% include partials/nav.ejs %>
  <h1>You want <%= data.name %> from <%= data.loc %> to contact you!</h1>
  <p>The e-mail you gave us is: <%= data.mail %></p>
</body>
</html>
